.main-comments--div{
   padding: 20px;
    position:absolute;
    z-index:40;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:500px;
    min-width:400px;
    /* background-color:rgba(0,0,0,0.7); */
    background-color: white;
    border: 1px solid #2962ff;
    backdrop-filter: blur;
    overflow-y: scroll;
    border-radius: 10px;
}

.btn-close{
    color: red;
    text-align: right;
    margin-bottom: 5px;
    right:0;
}

.add-comment--input{
    width: 100%;
    margin-bottom: 1px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    padding: 5px;
}


.resolve--btn{
    background-color:olivedrab;
    border: none;
    color: white;
    letter-spacing: 2px;
    border-radius: 4px;
    padding: 6px 10px;
}

.view-replies--btn{
    background-color:#6666;
    border: none;
    color: black;
    letter-spacing: 2px;
    border-radius: 4px;
    padding: 6px 10px;
    margin-right: 10px;
}
